.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header {
        height: 8.45%;
        box-shadow:
            2px 2px 5px rgba(0, 0, 0, 0.3),
            0px 4px 10px rgba(0, 0, 0, 0.3);
    }
    .middle-section {
        height: 100%;
        position: relative;
        min-height: 695px;
        img {
            width: 100%;
            z-index: -1;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 16/9;
            height: 100%;
        }
    }
    .footer {
        height: 8.45%;
    }
}
