.narrow-result-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
}
.narrow-result-filter-list {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
