.special-deal-modal-container {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    position: relative;
    .special-deal-close-modal {
        position: absolute;
        font-size: 1.25rem;
        font-weight: 600;
        top: 12px;
        right: 12px;
        background: transparent;
        border: none;
    }
    .special-deal-close-modal:hover{
        transform: scale(1.15);
    }
    .special-deal-modal-title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 4px;
    }
    .special-deal-modal-description {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 20px;
        max-width: 24ch;
    }
    .special-deal-modal-bottom {
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 1.15rem;
    }
}
